.footer__container{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1184px;
    padding-bottom: 24px;
}

@media screen and (max-width:1025px) {
    .footer__container{
        max-width:928px;
    }
}

@media screen and  (max-width:769px) {
    .footer__container{
        max-width:720px;
    }
}

@media screen and (max-width:685px) {
    .footer__container{
        flex-direction: column;
        max-width: 186px;
        padding-left: 16px;
        margin-left: 0;
        margin-right: 0;
        margin: 0;
        flex-wrap: nowrap;
        justify-content: baseline;
        align-items: flex-start;
    }
}