.cover__container{
    display: grid;
    margin: auto;
    max-width: 1184px;
    position: relative;
}


@media screen and (max-width:1025px) {
    .cover__container{
        max-width: 100%;
    }
}