.footer__links{
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0;
    }

    @media screen and (max-width:685px) {
        .footer__links {
            flex-direction: column;
        }   
     }