.header__language-selector-link-active {
    text-decoration: underline;
    padding-right: 18px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
}
.header__language-selector-link-active:hover{
    opacity: 0.8;
}