.place__pargraph{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-top: 0;
    }

    @media screen and (max-width: 769px) {
        .place__pargraph{
        font-size: 16px;
        line-height: 163%;
        }
    }

    @media screen and (max-width: 580px){
    .place__pargraph{
        padding-left: 16px;
        padding-right: 16px;
    }
}