.cover__text-container{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-row: 1;
    grid-column: 1;
    max-width: 560px;
    z-index: 3;
    margin:auto
}

@media screen and (max-width:321px) {
    .cover__text-container{
        max-width: 288px;
    }
}